* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.container {
  width: 400px;
  height: 300px;
  margin-top: 80px;
  background-color: rgb(0, 38, 255);
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 25px;
}
.capcha {
  width: 80%;
  height: 50px;
  background-color: #fff;
  filter: blur(0);
  position: absolute;
  top: 65px;
  left: 40px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
}
.capcha p {
  margin-top: 11px;
}
.craet-btn {
  width: 50%;
  height: 50px;
  background-color: rgb(1, 236, 52);
  filter: blur(0);
  position: absolute;
  top: 165px;
  left: 40px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.craet-btn p {
  margin-top: 11px;
}
.pass-length {
  width: 25%;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  top: 165px;
  right: 40px;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
